.site-title {
  top: 0;
  background-color: rgb(82, 82, 253);
  color: white;
  margin: 0px;
  padding: 10px;
  padding-left: 25px;
}
.Home {
  display: flex;
  background-image: linear-gradient( rgb(82, 82, 253), rgb(227, 54, 54));
  color: white;
  height: 100vh;
  overflow: hidden;
}

/* right half of home page */
.right-half {
  display: flex;
  flex-direction: column; 
  flex: 1;
  justify-content: center;
  align-items: center;
  border-right: 2px solid white;
}

.right-half h2 {
 margin-bottom: 10px;
}

.right-half input {
  margin-left: 100px;
  font-size: 20px;
  font-size: bold;
}

.custom-file-upload input[type='file'] {
  display: none;
}

.custom-file-upload {
  position: relative; 
  display: block;
  padding: 10px;
  cursor: pointer;
  overflow: hidden; 
  font-size: 2rem;
}

.custom-file-upload::before {
  content: ""; 
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  height: 2px; 
  background-color: #fff; 
  width: 0; 
  transition: width 0.3s ease; 
}

.custom-file-upload:hover::before {
  width: 100%; 
}



.Home button {
  display: block;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 2rem;

  position: relative; 
  cursor: pointer;
  overflow: hidden;
}

.Home button:before {
  content: "";
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  height: 2px; 
  background-color: #fff; 
  width: 0; 
  transition: width 0.3s ease; 
}

.Home button:hover::before {
  width: 100%; 
}

/* left half of home page */
.left-half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-half h1 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* vitamins page */

.background {
  background-image: linear-gradient( rgb(82, 82, 253), rgb(227, 54, 54));
  min-height: 100vh;
}
.vitamin-container {
  width: 50%; 
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.vitamin-listing {
  border: 1px solid #ddd;
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  color: black;
  background-color: #fff;
  width: 600px;
  height: 300px;
}

.vitamin-listing .food-list {
  list-style-type: none;
  padding-left: 0;
}

/* image part */
.image-food {
  align-items: right;
  width:100%;
} 


.background button {
  background-color: transparent;
  color: white;
  font-size: 30px;
  float: right;
  border: none;
}


.vitamin-listing-content {
  display: flex;
  justify-content: space-between;
  gap: 300px;
}

.image-container {
  width: 400px; 
  height: 250px;
  perspective: 1000px; 
  position: relative;
  cursor: pointer;
  margin-right: 50px;
}

.back {
  list-style-type: none;
}

.card.flip {
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .front,
.card .back {
  width: 100%;  /* Adjusted from 150% */
  height: 100%; /* Adjusted from 150% */
  position: absolute;
  backface-visibility: hidden;
}

.card .front,
.card .back {
  background-image: linear-gradient( rgb(82, 82, 253), rgb(227, 54, 54));
  border: 1px solid blue;
  border-radius: 5px;
  color: white;
  text-align: center;
}



.card .back {
  transform: rotateY(180deg);
}

/* Recipes Page */

.recipe-container {
  max-width: 800px; /* limit the width of the container */
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

.recipe-container h1 {
  text-align: center;
  margin-top: 0;
  padding: 0;
}

.ingredient-listing {
  border: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Center the inline content */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
}

.ingredient-listing h2 {
  font-size: 1.5em;
  margin-bottom: 20px; /* space between the food name and ingredients list */
  color: #333; /* dark gray */
}

.ingredient-list {
  list-style-type: none; /* removing bullets */
  padding-left: 0;
}

.ingredient-list li {
  padding: 5px 0;
}
